# Adding Suggestions
This notebook will walk you through adding suggestions to LightTag throw the API. 

Conceptually, Suggestions come from a Model and a Model belongs to a Schema. Thus in order to add Suggestions you must register a Model under the relevant Schema and then populate the model with actual suggestions. 

To avoid confusion, while you are registering a Model, LightTag will not run your model, instead, it is up to you to generate the suggestions and upload them. Here we'll see how to do that

## The Steps
1. Retreiving the Examples we wish to generate suggestions on
2. Retreiveing the Schema we wish to define a Model for
3. Creating a model and suggestions
4. Uploading the suggestions and Model

## Step 0 - Basic setup

In [1]:
import requests
import json
import pandas as pd
from pprint import pprint
from requests.auth import HTTPBasicAuth
SERVER ="http://localhost:8000"
#SERVER = "https://api-demo.lighttag.io" #The server is https://api-{your_subdomain_name.lighttag.io}
API_BASE = SERVER +'/api/v1/'
LT_USERNAME = "demo" # Username of manager user
LT_PASSWORD = "demo" #password of manager user

response = requests.post(SERVER +"/auth/token/create/",
              json={"username":LT_USERNAME,"password":LT_PASSWORD}
             )
response

Once we log in, LightTag will return a token we can use for further calls. We'll put that in dict that we will pass as header

In [2]:
token = response.json()['key']
headers={'Authorization': 'Token {token}'.format(token=token)}
session = requests.session()
session.headers = headers

## Step 1 Getting the data examples we wish to annotate
To generate suggestions we will need data. Particularly we'll need both all of the examples in a dataset as well as the tags from a particular schema. 
While you could gather each of these seperatly, LightTag has a data download view which already returns both of these combined.

### Retreiv the slug or url of the dataset with the examples you wish to add suggestions to
You can query the datasets endpoint. Remember, you are operating under the default project, so you should query 


projects/**default**/datasets/

In [3]:
datasets = session.get(API_BASE+'projects/default/datasets/').json()
pd.DataFrame(datasets) 
#It's convenient to display the results in a dataframe

,aggregation_field,content_field,id,id_field,name,order_field,project_id,slug,url
0,None,content,e7dee97f-b133-4b2d-b84a-27c41c342e0b,None,fufuf,None,2a1daae8-280b-420c-a25f-95535e7b9582,fufuf,http://localhost:8000/api/v1/projects/default/...
1,verse,content,46430219-d856-4241-b22f-38fbbaa60060,None,fvgbsfg,book,2a1daae8-280b-420c-a25f-95535e7b9582,fvgbsfg,http://localhost:8000/api/v1/projects/default/...
2,None,content,cd330fbe-f191-4824-8aba-42dc661bf0e0,None,mufu,None,2a1daae8-280b-420c-a25f-95535e7b9582,mufu,http://localhost:8000/api/v1/projects/default/...

### Retreive the examples from that dataset by 
In this example we what a Dataset named Bible with a slug bible. We'll pull all of the examples via the examples endpoint
projects/default/datasets/**bible**/examples/

In [9]:

examples =session.get(API_BASE+'projects/default/datasets/fufuf/examples/').json()

In [10]:
examples

[{'aggregation_value': None,
  'content': ' And her adversary also provoked her sore, for to make her fret, because the LORD had shut up her womb.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '44030fb9-d259-4034-8d2a-e2af1bc3e506',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 1,
   'verse': 6}},
 {'aggregation_value': None,
  'content': ' And Hannah prayed, and said, My heart rejoiceth in the LORD, mine horn is exalted in the LORD: my mouth is enlarged over mine enemies; because I rejoice in thy salvation.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'b9a5489f-463c-4692-b9b3-c936b6c78e0d',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 2,
   'verse': 1}},
 {'aggregation_value': None,
  'content': ' There is none holy as the LORD: for there is none beside thee: neither is there any rock like our God.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'e594904a-a04a-47a2-88f3-0b28e4f06ff3',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 2,
   'verse': 2}},
 {'aggregation_value': None,
  'content': ' Talk no more so exceeding proudly; let not arrogancy come out of your mouth: for the LORD is a God of knowledge, and by him actions are weighed.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'b6caad52-4708-444f-8166-391e8e804403',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 2,
   'verse': 3}},
 {'aggregation_value': None,
  'content': ' The bows of the mighty men are broken, and they that stumbled are girded with strength.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'ad1ab5ff-59d7-47f3-9578-6332e227c87c',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 2,
   'verse': 4}},
 {'aggregation_value': None,
  'content': ' They that were full have hired out themselves for bread; and they that were hungry ceased: so that the barren hath born seven; and she that hath many children is waxed feeble.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '2f17b272-303a-448b-8d28-d0f5d7bf3630',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 2,
   'verse': 5}},
 {'aggregation_value': None,
  'content': ' The LORD killeth, and maketh alive: he bringeth down to the grave, and bringeth up.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '272cd927-21bd-4273-b1a4-f08594baa6a6',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 2,
   'verse': 6}},
 {'aggregation_value': None,
  'content': ' And the child Samuel ministered unto the LORD before Eli. And the word of the LORD was precious in those days; there was no open vision.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '5f6d4fc3-8cc0-432a-8b70-6525c3743c0b',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 3,
   'verse': 1}},
 {'aggregation_value': None,
  'content': ' And it came to pass at that time, when Eli was laid down in his place, and his eyes began to wax dim, that he could not see; ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '288a4145-ff37-4085-a32a-56325cbe238b',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 3,
   'verse': 2}},
 {'aggregation_value': None,
  'content': ' Now there was a certain man of Ramathaimzophim, of mount Ephraim, and his name was Elkanah, the son of Jeroham, the son of Elihu, the son of Tohu, the son of Zuph, an Ephrathite: ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '4329ba0d-6ab2-4a9a-b892-e25533058525',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 1,
   'verse': 1}},
 {'aggregation_value': None,
  'content': ' And he had two wives; the name of the one was Hannah, and the name of the other Peninnah: and Peninnah had children, but Hannah had no children.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '3a9b3e4b-2efb-420d-9cde-0680f7dfb5e6',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 1,
   'verse': 2}},
 {'aggregation_value': None,
  'content': ' And this man went up out of his city yearly to worship and to sacrifice unto the LORD of hosts in Shiloh. And the two sons of Eli, Hophni and Phinehas, the priests of the LORD, were there.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'ba6a0190-368f-4812-bda7-dfecdbe46ef6',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 1,
   'verse': 3}},
 {'aggregation_value': None,
  'content': ' And when the time was that Elkanah offered, he gave to Peninnah his wife, and to all her sons and her daughters, portions: ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '4ba7bf3f-4a8f-4788-84ba-7003ae4011fb',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 1,
   'verse': 4}},
 {'aggregation_value': None,
  'content': ' But unto Hannah he gave a worthy portion; for he loved Hannah: but the LORD had shut up her womb.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'eca416bf-fe60-4359-9601-3fa038442dbe',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 1,
   'verse': 5}},
 {'aggregation_value': None,
  'content': ' And ere the lamp of God went out in the temple of the LORD, where the ark of God was, and Samuel was laid down to sleep; ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '6d9c42a6-8e7c-4cd3-9352-8e245977485d',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 3,
   'verse': 3}},
 {'aggregation_value': None,
  'content': ' That the LORD called Samuel: and he answered, Here am I.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '0ce86a71-3ef1-4959-8ced-0797ba43fa82',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 3,
   'verse': 4}},
 {'aggregation_value': None,
  'content': ' And he ran unto Eli, and said, Here am I; for thou calledst me. And he said, I called not; lie down again. And he went and lay down.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '77837c85-6fc4-4b96-9315-7d3d8b58fa12',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 3,
   'verse': 5}},
 {'aggregation_value': None,
  'content': ' And the LORD called yet again, Samuel. And Samuel arose and went to Eli, and said, Here am I; for thou didst call me. And he answered, I called not, my son; lie down again.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '433c87df-b19b-4b07-8d26-4ee2904aa965',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 3,
   'verse': 6}},
 {'aggregation_value': None,
  'content': ' And the word of Samuel came to all Israel. Now Israel went out against the Philistines to battle, and pitched beside Ebenezer: and the Philistines pitched in Aphek.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '06d8edaa-2522-42af-96d0-dba79dc9f285',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 4,
   'verse': 1}},
 {'aggregation_value': None,
  'content': ' And the Philistines put themselves in array against Israel: and when they joined battle, Israel was smitten before the Philistines: and they slew of the army in the field about four thousand men.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '87b7ffc7-6802-4c9b-a474-8ccbea9b0a5a',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 4,
   'verse': 2}},
 {'aggregation_value': None,
  'content': ' And when the people were come into the camp, the elders of Israel said, Wherefore hath the LORD smitten us to day before the Philistines? Let us fetch the ark of the covenant of the LORD out of Shiloh unto us, that, when it cometh among us, it may save us out of the hand of our enemies.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'c3c5b4c3-2a77-4f93-bb0f-744438484cbd',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 4,
   'verse': 3}},
 {'aggregation_value': None,
  'content': ' So the people sent to Shiloh, that they might bring from thence the ark of the covenant of the LORD of hosts, which dwelleth between the cherubims: and the two sons of Eli, Hophni and Phinehas, were there with the ark of the covenant of God.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '018fbdf3-4229-4e51-a4e5-90de9b6554fb',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 4,
   'verse': 4}},
 {'aggregation_value': None,
  'content': ' And when the ark of the covenant of the LORD came into the camp, all Israel shouted with a great shout, so that the earth rang again.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '3d02ecb0-5694-4272-bca5-ce4c40e0dce9',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 4,
   'verse': 5}},
 {'aggregation_value': None,
  'content': ' And when the Philistines heard the noise of the shout, they said, What meaneth the noise of this great shout in the camp of the Hebrews? And they understood that the ark of the LORD was come into the camp.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '5c159822-ea3a-4704-b701-87d9ebc2718f',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 4,
   'verse': 6}},
 {'aggregation_value': None,
  'content': ' And the Philistines took the ark of God, and brought it from Ebenezer unto Ashdod.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '3a40cea7-3fc3-46e0-82d5-ac6ff21ea88b',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 5,
   'verse': 1}},
 {'aggregation_value': None,
  'content': ' When the Philistines took the ark of God, they brought it into the house of Dagon, and set it by Dagon.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'e6093b45-4d8a-4211-b7b6-c6a4897c1c61',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 5,
   'verse': 2}},
 {'aggregation_value': None,
  'content': ' And when they of Ashdod arose early on the morrow, behold, Dagon was fallen upon his face to the earth before the ark of the LORD. And they took Dagon, and set him in his place again.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'd17f9a38-ee80-4dbb-b39f-f651d15d4b7c',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 5,
   'verse': 3}},
 {'aggregation_value': None,
  'content': ' And when they arose early on the morrow morning, behold, Dagon was fallen upon his face to the ground before the ark of the LORD; and the head of Dagon and both the palms of his hands were cut off upon the threshold; only the stump of Dagon was left to him.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'e75fce09-e90a-44f1-85b2-2a37b7a6d7cb',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 5,
   'verse': 4}},
 {'aggregation_value': None,
  'content': " Therefore neither the priests of Dagon, nor any that come into Dagon's house, tread on the threshold of Dagon in Ashdod unto this day.  ",
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'e63a0a97-cfd8-4b3f-9cae-217afafb2fc6',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 5,
   'verse': 5}},
 {'aggregation_value': None,
  'content': ' But the hand of the LORD was heavy upon them of Ashdod, and he destroyed them, and smote them with emerods, even Ashdod and the coasts thereof.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'bf8d8f81-df81-43e2-8043-a242e0288715',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 5,
   'verse': 6}},
 {'aggregation_value': None,
  'content': ' And the ark of the LORD was in the country of the Philistines seven months.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'd62da393-db76-4192-a1fe-3bb3e5aa0323',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 6,
   'verse': 1}},
 {'aggregation_value': None,
  'content': ' And the Philistines called for the priests and the diviners, saying, What shall we do to the ark of the LORD? tell us wherewith we shall send it to his place.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '20c9980b-1922-48ae-8cde-c2d279337442',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 6,
   'verse': 2}},
 {'aggregation_value': None,
  'content': ' And they said, If ye send away the ark of the God of Israel, send it not empty; but in any wise return him a trespass offering: then ye shall be healed, and it shall be known to you why his hand is not removed from you.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '49154312-ebf1-4d7e-bb1e-847b27da6828',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 6,
   'verse': 3}},
 {'aggregation_value': None,
  'content': ' Then said they, What shall be the trespass offering which we shall return to him? They answered, Five golden emerods, and five golden mice, according to the number of the lords of the Philistines: for one plague was on you all, and on your lords.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '7885a4e1-73fd-4f91-8624-1629b762778b',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 6,
   'verse': 4}},
 {'aggregation_value': None,
  'content': ' Wherefore ye shall make images of your emerods, and images of your mice that mar the land; and ye shall give glory unto the God of Israel: peradventure he will lighten his hand from off you, and from off your gods, and from off your land.  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': 'afc9db13-0c34-4665-8a99-da81329ef3e0',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 6,
   'verse': 5}},
 {'aggregation_value': None,
  'content': ' Wherefore then do ye harden your hearts, as the Egyptians and Pharaoh hardened their hearts? when he had wrought wonderfully among them, did they not let the people go, and they departed?  ',
  'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
  'id': '6c7ffd8b-e151-4659-9d2d-4fa0f080809a',
  'metadata': {'book': 'The First Book of the Kings',
   'chapter': 6,
   'verse': 6}}]

We could equivalently do this by usig the URL field on the json returned from the datasets endpoint

In [11]:
bible_dataset = next(filter(lambda x:x['slug']=="bible2",datasets))

StopIteration:

In [60]:
examples =session.get(bible_dataset['url']+'examples/').json()

In [12]:
examples[0]

{'aggregation_value': None,
 'content': ' And her adversary also provoked her sore, for to make her fret, because the LORD had shut up her womb.  ',
 'dataset': 'e7dee97f-b133-4b2d-b84a-27c41c342e0b',
 'id': '44030fb9-d259-4034-8d2a-e2af1bc3e506',
 'metadata': {'book': 'The First Book of the Kings', 'chapter': 1, 'verse': 6}}

## Step 2 Retreive the Schema and Tags we want to create suggestions for

In [13]:
schemas =session.get(API_BASE+'projects/default/schemas/').json()
pd.DataFrame(schemas)

,id,name,slug,url
0,6fba8291-9f5b-401e-a1cc-4176543d6584,mufen,mufen,http://localhost:8000/api/v1/projects/default/...
1,7d074347-2cfc-4ae9-bd93-95ce6b95e9b2,chicken,chicken,http://localhost:8000/api/v1/projects/default/...

In [14]:
schema = schemas[0]
tags = session.get(schema['url']+'tags/').json()
pd.DataFrame(tags)

  description                                    id  name
0         dfg  f833b15e-054d-4b7f-8ede-e1f88e7e5c67  dfvg

### Pro Tip 
To upload suggestions we'll need to use the tag ids, which can be cumbersome. It is often convenient to make a map
drom the tag name to the id like so :

In [15]:
tagMap = {tag["name"]:tag["id"] for tag in tags}

In [18]:
tagMap

{'dfvg': 'f833b15e-054d-4b7f-8ede-e1f88e7e5c67'}

## Step 3: Create your suggestions
How you create a suggestion is up to you. Youa re free to use a dicitonary, regex, neural network or whatever else
is availble. 
In this example we'll use the [flashtext](https://github.com/vi3k6i5/flashtext) library to suggest the following

* Abraham, Isaac, Jacob and Moses will be labeled person
* Israel, Egypt and Moav will be labeled Nation 
* Dagon will be labeled Pagan god
* Jerusalem will be labeled place

In [19]:
from flashtext import KeywordProcessor
keyword_processor = KeywordProcessor()
keyword_processor.add_keyword("Abraham",tagMap["dfvg"])
keyword_processor.add_keyword("Isaac",tagMap["dfvg"])
keyword_processor.add_keyword("Jaacob",tagMap["dfvg"])
keyword_processor.add_keyword("Peninnah",tagMap["dfvg"])

keyword_processor.add_keyword("Dagon",tagMap["dfvg"])
keyword_processor.add_keyword("Jeruslame",tagMap["dfvg"])
keyword_processor.add_keyword("Egypt",tagMap["dfvg"])
keyword_processor.add_keyword("Israel",tagMap["dfvg"])
keyword_processor.add_keyword("Moav",tagMap["dfvg"])

True

In [20]:
keyword_processor.extract_keywords(" In the Bible Abraham met the LORD one day|",
                                   span_info=True)

[('f833b15e-054d-4b7f-8ede-e1f88e7e5c67', 14, 21)]

### Step 3.1: Iterate over your examples and make a  list of suggestions

In [29]:
suggestions = []
for example in examples: #(Notice the text is located in the content field)
    #For every suggestion that comes out of our model (in this case, flashtext)
    for tag_id,start,end in keyword_processor.extract_keywords(example['content'],span_info=True):
        suggestion= { #Create a suggestion
            "example_id":example['id'], #That refers to a particular example
            "tag_id":tag_id, #and applies a particular tag
            "start":start, #Which starts somewhere in the example
            "end":end # And ends somewhere in the example
        }
        suggestions.append(suggestion)

In [30]:
suggestions.append(suggestions[0])

### Step 3.2: Define a model

In [31]:
model_metadata= { # Define any metadata you'd like to store about the model
    "defined_by": "LightTag",
    "comments": "An example model made with Flashtext"
}
data = {
    "model":{
        "name":"demo_suggestions",  #Give the model a name
        "metadata": model_metadata # Provide metadata (optional)
    },
    "suggestions":suggestions #Attatch the suggestions you made before
}

## Step 4 Upload your model and Suggestions

In [32]:
schema
resp =session.post(schema['url']+'models/bulk/',
                    json=data,
             )
resp.status_code

400

In [33]:
resp.json()

{'detail': "You've tried to upload two suggestions that overlap on the same model. That is not supported"}